<div class="event-card">
  <a href="<%= event.foursquare_url %>" target="_blank">
    <div class="event-card__header">
      <%= image_tag event.image_url %>
    </div>
    <div class="event-card__body">
        <time class="event-card__time"><%= event.time %></time>
        <div class="event-card__venue"><%= event.location %></div>
    </div>
  </a>
  <a href="<%= group_path(event.group) %>">
    <div class="event-card__footer">
      <div class="event-card__group"><%= event.group_name_with_emoji %></div>
    </div>
  </a>
 </div>