<header>
  <%= link_to(root_path) do %>
    <span class="logo">Coffee</span>
  <% end %>
  <div class="header__items">
    <%= link_to('Groups', groups_path) %>
    <% if current_user %>
      <%= image_tag(current_user.avatar_url, class: 'header__avatar') %>
      <%= link_to('Sign out', auth_logout_path)%>
    <% else %>
      <%= link_to('Sign in', '/auth/twitter') %>
    <% end %>
  </div>
</header>