<div style="height: 100vh; margin: 0; display: flex; align-items: center; justify-content: center;">
  <div style="margin: 2em;">
    <p style="font-size: 2em; font-family: 'Lato', sans-serif; text-align: center;">
      <% if @event.present? %>
        The next event will be at <a href=<%= @event.location_url %>><%= @event.location %></a> at <%= @event.start_time %> on <%= @event.date %>. <%= @event.emoji %>
      <% else %>
        The next event has not been scheduled. Check back later. ☕
      <% end %>
    </p>
  </div>
</div>