<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <% set_meta_tags "apple-itunes-app": "app-id=1458031604" %>
    <%= display_meta_tags site: 'Coffee' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111472315-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-111472315-1');
    </script>
  </head>

  <body>
    <%= render 'partials/header' %>
    <main>
      <%= yield %>
    </main>
    <%= render 'partials/footer' %>
  </body>
</html>
